@model MVCGIAY.Models.PRODUCT

@{
    ViewBag.Title = "Chitietgiay";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 class="title text-center">Chi tiết sản phẩm</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên sản phẩm:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAME)
        </dd>

        <dt>
            Mã loại:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CATEGORY_ID)
        </dd>

        <dt>
            Đơn giá:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRICE)
        </dd>

        <dt>
            Mô tả:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPTION)
        </dd>

        <dt>
            Số lượng còn:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QUANTITY)
        </dd>

        <dt>
            Mã NCC:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SUPPLIER_ID)
        </dd>

        <dt>
            Ngày cập nhật:
        </dt>

        <dd>
            @String.Format("{0:dd/mm/yyyy}", Model.UPDATED_AT)
        </dd>

        <dt>
            Ảnh:
        </dt>

        <dd>
            <img src="@Url.Content("~/images/home/" + Model.IMAGE)"  width="120px"/>
        </dd>
        
    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Suagiay", new { id = Model.ID }) |
    @Html.ActionLink("Trở về", "Giay")
</p>
